__pycache__/



android-in-the-wild/

dataset/


fetch_features.log
nohup.out
dataset/general_texts_splits.json
dataset/google_apps_texts_splits.json
dataset/install_texts_splits.json
dataset/single_texts_splits.json
dataset/web_shopping_texts_splits.json
.DS_Store
huggingfacemodels/gitattributes
huggingfacemodels/README.md
